html, body {
    height: 250px;
    width: 250px;
}
.selected {
    background-color: #3f3f3f;
}
.emote {
    width: 40px; 
    height: 40px; 
    padding: 4px;
    
    cursor: pointer;
}
.emote:hover {
    background-color: #2f2f2f;
}
p {
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
}
.unscroll {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.unscroll::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}